<template>
    <div class="category container">


        <h1 class="text-center mb-5" v-if="rows">Categories: {{rows}}</h1>
        <div class="category">
            <div v-if="loading" class="loading">
                Загрузка...
            </div>

            <div v-if="error" class="error">
                {{ error }}
            </div>
        </div>
        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">
            <div v-for="category in itemsForList()" class="">
                <li class="list-group-item">{{category.name}}</li>
            </div>
            </ul>
        </div>
        <b-pagination class="mt-5"
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                      aria-controls="content"
                      align="center"
                      @input="updatePage(currentPage)"
        ></b-pagination>
    </div>
</template>

<script>
    export default {
        name: "Category",
        data() {
            return {
                loading: false,
                categories: null,
                error: null,
                perPage: 4,
                currentPage: 1,
                rows: 0,
            }
        },
        created() {
            this.fetchData()
        },
        watch: {
            $route: 'fetchData',
            perPage: function () {
                if (this.perPage > 0) {
                    this.fetchData()
                }

            }
        },
    }
</script>

<style scoped>

</style>
