<template>
    <div class="home container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">perPage</span>
            </div>
            <input v-model="perPage" type="text" class="form-control" placeholder="perPage" aria-label="PerPage"
                   aria-describedby="basic-addon1">
        </div>


        <h1 class="text-center mb-5" v-if="rows">Pages: {{rows}}</h1>
        <div class="post">
            <div v-if="loading" class="loading">
                Загрузка...
            </div>

            <div v-if="error" class="error">
                {{ error }}
            </div>
        </div>
        <div class="d-flex flex-column">
            <div v-for="post in itemsForList()" class="">
                <b-card
                    id="content"
                    :img-src=post.images[0].url
                    img-alt="Image"
                    img-left
                    tag="article"
                    class="mb-2"
                    img-width="500px"
                >
                    <b-card-text>
                        <h3>{{post.title}}</h3>
                    </b-card-text>
                    <div class="">
                        <b-card-text>
                            <h6>Categories</h6>
                            <ul class="list-inline">
                                <li class="list-inline-item" v-for="category in post.categories">
                                    <router-link :to="{ name: 'post-categories', params: { slug: category.slug }}" >{{category.name}}</router-link>
                                </li>
                            </ul>

                        </b-card-text>
                        <b-card-text class="">
                            <h6>Tags</h6>
                            <ul class="list-inline">
                                <li class="list-inline-item" v-for="tag in post.tags">
                                    <a href="">{{tag.name}}</a>
                                </li>
                            </ul>
                        </b-card-text>
                    </div>

                    <b-card-text>
                        {{post.content.substring(0,100)+"..." }}
                    </b-card-text>
                    <router-link :to="{ name: 'post', params: { id: post.id }}">
                        <b-button variant="primary">Go somewhere</b-button>
                    </router-link>
                </b-card>

            </div>
        </div>
        <b-pagination class="mt-5"
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                      aria-controls="content"
                      align="center"
                      @input="updatePage(currentPage)"
        ></b-pagination>
    </div>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
                loading: false,
                posts: null,
                error: null,
                perPage: 4,
                currentPage: 1,
                rows: 0,
            }
        },
        created() {
            this.fetchData()
        },
        watch: {
            $route: 'fetchData',
            perPage: function () {
                if (this.perPage > 0) {
                    this.fetchData()
                }

            }
        },

        methods: {
            fetchData() {
                this.error = this.posts = null;
                this.loading = true;
                this.$axios.get('/api/home', {params: {page: this.currentPage, perPage: this.perPage}})
                    .then(response => {
                        this.loading = false;
                        this.posts = response.data.data;
                        this.currentPage = response.data.meta.current_page;
                        this.rows = response.data.meta.total;
                    })
                    .catch(error => {
                        this.loading = false;
                        // this.error = error.toString();
                        console.log(error);
                    });

            },
            itemsForList() {
                if (this.posts) {
                    return this.posts;
                }

            },
            updatePage(currentPage) {
                this.fetchData(currentPage);
            }
        }
    }
</script>

<style scoped>

</style>
