<template>
    <div class="container">
        <div class="post">
            <h1>Post {{ id }}</h1>
            <div v-if="loading" class="loading">
                Загрузка...
            </div>

            <div v-if="error" class="error">
                {{ error }}
            </div>
        </div>
        <div class="content" v-if="!loading">
            <h3>Title: {{post.title}}</h3>
            <div class="row">
                <div class="col--md-12">
                    <img  :src=post.images[0].url class="rounded  mr-2 mb-2 float-left" alt="...">
                    {{post.content}}
                </div>
            </div>


            <h6>Categories</h6>
            <ul class="list-inline">
                <li class="list-inline-item" v-for="category in post.categories">
                    <a href="">{{category.name}}</a>
                </li>
            </ul>
            <h6>Tags</h6>
            <ul class="list-inline">
                <li class="list-inline-item" v-for="tag in post.tags">
                    <a href="">{{tag.name}}</a>
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Post",
        props: {
            id: {
                type: Number,
                required: true
            }

        },
        watch: {
            $route: 'fetchData'
        },
        data() {
            return {
                post: null,
                error: false,
                loading: false
            }
        },
        created() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                this.error = this.post = null;
                this.loading = true;
                this.$axios.get('/api/post/' + this.id)
                    .then(response => {
                        this.loading = false;
                        this.post = response.data;
                        // this.$router.push({ path: `/post/${this.id}` });
                    })
                    .catch(error => {
                        this.loading = false;
                        console.log(error);
                    });

            },
        }
    }
</script>

<style scoped>

</style>
