<template>
    <div>
        <Navbar></Navbar>
        <router-view></router-view>
    </div>
</template>

<script>
    import Navbar from '../Components/Navbar'

    export default {
        name: "App",
        components: { Navbar },
        computed: {},
        data() {
            return {

            }
        }
    };
</script>

<style scoped>

</style>
