<template>
<nav class="navBar">
    <ul class="navBar_link">
        <li>
            <router-link :to="{name: 'home'}">
                Home
            </router-link>
        </li>
        <!--<li>
            <router-link :to="{name:'categories'}">
                Categories
            </router-link>
        </li>-->
    </ul>
</nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
